<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Lovers</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<form action="/quizz" method="POST">
		<h1 class="heading">How much do you know about...</h1>
		<input class="selection" type="text" name="film_name" placeholder="choose a film">
		<input type="submit"  name="send_film_name" placeholder="seleccionar">
	</form>
  
</body>
</html>